<div style="padding-bottom: 20px;">
    <nav class="myNav">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="padding-left:10px;">CoolVid</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <% links.forEach(function(link){ %>
                    <li><a href="<%= link.url %>"><%= link.text %></a></li>
                <% }); %>
            </ul>
        </div>
    </nav>
</div>

<style>

    .myNav{
        background-color: #448aff;
    }

</style>