<div style="padding-bottom: 20px;">
    <nav class="myNav">
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo" style="padding-left:10px;">CoolVid</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <% links.forEach(function(link){ %>
                    <li><a href="<%= link.url %>"><%= link.text %></a></li>
                <% }); %>
            </ul>
        </div>
    </nav>
    <nav class="searchNav"  style="height:30px;">
        <div class="nav-wrapper">
            <form action="/videos">
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="fa fa-search" for="search"><i class="material-icons"></i></label>
                    <i class="material-icons"></i>
                </div>
            </form>
        </div>
    </nav>
</div>

<style>

    .myNav{
        background-color: #448aff;
    }

    .searchNav{
        background-color: #90caf9;
    }

</style>