<!DOCTYPE html>
<html>

	<%- include('partials/head') %>

	<body>

		<%- include('partials/navbar', {links: [ {text: "Login", url: "/users/login"},{text: "Videos", url:"/videos"} ]}) %>
		

		<div class="container">

			<div class="row">

				<h1 class="col s12 center-align">home page</h1>

			</div>

		</div>

	</body>

</html>
