<!DOCTYPE html>
<html>

	<%- include('partials/head') %>

	<body>

		<div class="container">

			<div class="row">

				<h1 class="col s12 center-align">welcome</h1>

				<div class="col s12 center">
					<a href="/users/login"><button class="btn" style="margin-left:10px;" href="/users/login"> LOGIN </button></a>
					<a href="/users/register"><button class="btn" href="/users/register"> REGISTER </button></a>
				</div>

			</div>

		</div>

	</body>

</html>
