<!DOCTYPE html>
<html>

	<%- include('partials/head') %>

	<body>

		<%- include('partials/navbar', {links:[ {text: "Home", url:"/"}, {text: "Logout", url: "/users/logout"} ]}) %>

		<div class="container">

			<div class="row">

				<h1 class="col s12 center-align"><%= username %>'s profile</h1>
				<a href="/users/update">update profile</a>

			</div>

		</div>

	</body>

</html>
